@{ ViewData["Title"] = "メニュー"; }

<section>
  <div id="myCanvas"></div>
  <canvas id="frontCanvas"></canvas>
  <canvas id="sideCanvas"></canvas>
  <canvas id="topCanvas"></canvas>
</section>

<script>
  const frontBinaryData = `@ViewData["FrontBinaryData"]`;
  const sideBinaryData = `@ViewData["SideBinaryData"]`;
  const topBinaryData = `@ViewData["TopBinaryData"]`;

  function drawCanvas(canvasId, binaryData, flipHorizontal = false) {
    const canvas = document.getElementById(canvasId);
    const myCanvas = document.querySelector('#myCanvas');
    const ctx = canvas.getContext('2d');
    const size = 20;
    const scale = myCanvas.clientWidth / size;
    canvas.width = size * scale;
    canvas.height = size * scale;

    for (let y = 0; y < size; y++) {
      for (let x = 0; x < size; x++) {
        const pixelIndex = y * size + x;
        const color = binaryData[pixelIndex] === '0' ? '#0f0f0f' : '#f0f0f0';
        ctx.fillStyle = color;

        const drawX = flipHorizontal ? size - 1 - x : x;
        ctx.fillRect(drawX * scale, y * scale, scale, scale);
      }
    }
  }

  drawCanvas('frontCanvas', frontBinaryData, true);
  drawCanvas('sideCanvas', sideBinaryData);
  drawCanvas('topCanvas', topBinaryData, true);
  myCanvas.remove();
</script>
