@{
    ViewData["Title"] = "Pixels";
}

<section>
  <h3>@ViewData["Title"]</h3>
  <a asp-action="Index">Index</a>
  <img src="@ViewData["BinaryImage"]" alt="Binary Image" style="width: 100px; height: 100px" />
</section>
