@{ ViewData["Title"] = "Images to Voxel"; ViewData["ShowMenu"] = false; }

<style>
  .title { position: fixed; top: 20%; text-align: center; width: 100%; }
  .image { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 150px; }
  .button { position: fixed; bottom: 20%; text-align: center; width: 100%; }
</style>

<section>
  <h3 class="title">@ViewData["Title"]</h3>
  <img class="image" src="~/images/title.png" alt="title" />
  <a class="button" asp-action="Voxel">Tap to start</a>
</section>
